.terraform
terraform.tfstate.backup
terraform.tfstate
modules/runners/scripts/node_modules
**.DS_Store
modules/start-and-stop/src/node_modules
modules/start-and-stop/start_and_stop.zip
backend-dev.tfvars.json
backend-prod.tfvars.json
github.auto.tfvars.json
google-dev.tfvars.json
google-prod.tfvars.json
google-gitlab.tfvars.json
.tools/auth.json
modules/start-and-stop/src/.env
