.terraform
terraform.tfstate.backup
terraform.tfstate
modules/runners/scripts/node_modules
**.DS_Store
modules/start-instance/start_instance.zip
backend-dev.tfvars.json
backend-prod.tfvars.json
github.auto.tfvars.json
google-dev.tfvars.json
google-prod.tfvars.json
modules/start-instance/src/node_modules
